body {
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: #3b3c45;
}
a:hover {
  color: #4c89b5;
}
h2 {
  font-weight: 900;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.left__container {
  background-image: url("../images/background4.png");
  background-size: cover;
  background-position: top;
  min-width: 25%;
  height: 100vh;
  position: relative;
}
.left__mask {
  width: 100%;
  height: 100%;
  background-color: dimgray;
  opacity: 0.5;
  text-align: center;
}
.left__container > h1 {
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 10;
  position: absolute;
  top: 25%;
  color: white;
  z-index: 50;
  /* left: 29%; */
  width: 100%;
  margin: 0;
  text-align: center;
}
.avartar_wrap {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  height: 100px;
}
.avartar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.left__container-footer {
  text-align: center;
  align-items: center;
  margin: 33px;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 77%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.right__container {
  background-color: #f7f7f7;
  width: 75%;
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}
.contents__container {
  margin: 0 130px;
  padding: 70px 12px 100px;
}
.contents__container-header {
  display: flex;
  justify-content: space-between;
}
.contents__container-header > h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}
.contents__container-header > h2 > i {
  cursor: pointer;
}
.contents__container-header > h2 > i:hover {
  color: #4c89b5;
}
.card__container {
  height: 100%;
}

.card {
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}
.card-header {
  color: #3b3c45;
}
.card-header > h2 {
  font-weight: 900;
  cursor: pointer;
}
.card-header > h2:hover {
  color: #4c89b5;
}
.card-body {
  color: #616669;
  font-weight: 400;
}

.card-footer {
  margin-bottom: 30px;
}
.post-author {
  color: #4c89b5;
}
.card-footer .post-date {
  margin-right: 10px;
  color: #989a9c;
}

/* .contents__container {
  display: none;
} */
.posting__contianer {
  display: none;
}

.posting__contianer {
  margin: 0 130px;
  padding: 70px 12px 100px;
}
.posting__contianer__wrap {
  /* border: 1px solid black; */
  padding: 20px;
}
.fa-sign-out-alt:before {
  display: none;
}
.fa-sign-out-alt:after {
  content: "\f2f5";
  margin-left: 7px;
}
.fa-sign-out-alt:hover {
  color: midnightblue;
  transition: all 200ms ease;
}
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 19px;
}

.input-title {
  border: none;
  background-color: #f7f7f7;
  width: 100%;
  height: 50px;
  font-size: 30px;
}
.cur_username {
  border: none;
  background-color: #f7f7f7;
  width: 160px;
  /* border-bottom: 1px solid #4c89b5; */
  color: #4c89b5;
  margin-bottom: 6px;
  font-weight: 800;
  height: 30px;
  font-size: 20px;
}

.posting-textarea {
  width: 100%;
  height: 350px;
  background-color: #f7f7f7;
  border: none;
  border-bottom: 1px solid dimgray;
  resize: none;
  font-size: 20px;
}
.posting__contianer-footer {
  position: absolute;
  bottom: 0;
  right: 110px;
  margin: 30px;
  display: flex;
  text-align: right;
  padding: 30px;
}

.posting-btn {
  padding: 5px;
  margin: 5px;
  width: 70px;
  border: 1px solid dimgray;
  border-radius: 7px;
  cursor: pointer;
  background-color: #f7f7f7;
}
#save-btn {
  border: 1px solid #3b3c45;
  background-color: #3b3c45;
  color: white;
}
#save-btn:hover {
  background-color: #4c89b5;
}
#cancel-btn:hover {
  background-color: #4c89b5;
}
.show_username {
  position: absolute;
  text-align: center;
  top: 57%;
  width: 100%;
  height: 100px;
  color: floralwhite;
  font-weight: 600;
}
.link-signup {
  text-decoration: none;
  color: midnightblue;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  line-height: 40px;
}
.footer-btn{
  cursor: pointer;
}
.footer-btn:hover{
  color:midnightblue;
  transition: all 200ms ease;
}
.main-title{
  cursor: pointer;
}